<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
  <style>
    body { margin: 0; padding-bottom: 30px; }
    .footer {
      position: fixed;
      right: 10px;
      bottom: 5px;
      font-size: 0.75rem;
      color: #555;
    }
  </style>
</head>
<body>
  <h1>URL‑Shortener</h1>

  <form action="/shorten" method="post">
    <p>
      <label>
        Ваш e‑mail:<br>
        <input name="mail" type="email" placeholder="email@example.com" required>
      </label>
    </p>
    <p>
      <label>
        Длинный URL:<br>
        <input name="url" type="url" placeholder="https://..." required size="50">
      </label>
    </p>
    <button type="submit">Сократить</button>
  </form>

  {{ if .ShortURL }}
    <p>Ваша короткая ссылка: 
      <a href="{{ .ShortURL }}">{{ .ShortURL }}</a>
    </p>
  {{ end }}

  <div class="footer">This small project was created specifically for T-Academy</div>
</body>
</html>
